<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}LegalAI{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

<div class="background">
    <div class="glow glow-one"></div>
    <div class="glow glow-two"></div>
    <div class="grid"></div>
</div>


<header class="topbar">

    <a href="/" class="logo">

        <div class="logo-icon">
            L
        </div>

        <div>

            <div class="logo-name">
                LegalAI
            </div>

            <div class="logo-subtitle">
                AI Legal Workspace
            </div>

        </div>

    </a>


    <nav>

        <a href="/">
            Главная
        </a>

        <a href="/dashboard">
            Рабочее пространство
        </a>

        <a href="/case">
            Мои дела
        </a>

        <a href="/login">
            Войти
        </a>

    </nav>

</header>


<main class="page">

    {% block content %}
    {% endblock %}

</main>


<footer>

    © 2026 LegalAI · AI-помощник для юридической работы

</footer>


<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>